In [1]:
from IPython.display import display, HTML
import pandas as pd
import csv
import tabula
import itertools

# python3 -m pip install xlrd   ...for write out to .xls file
# python3 -m pip install XlsxWriter
# python3 -m pip install -q tabula-py

In [2]:
# from Tabula notebook: 
# https://colab.research.google.com/github/chezou/tabula-py/blob/master/examples/tabula_example.ipynb#scrollTo=mryDaFRqsfTN
!java -version

java version "14.0.2" 2020-07-14
Java(TM) SE Runtime Environment (build 14.0.2+12-46)
Java HotSpot(TM) 64-Bit Server VM (build 14.0.2+12-46, mixed mode, sharing)

In [3]:
tabula.environment_info()

Python version:
    3.7.7 (default, May  6 2020, 04:59:01)
[Clang 4.0.1 (tags/RELEASE_401/final)]
Java version:
    java version "14.0.2" 2020-07-14
Java(TM) SE Runtime Environment (build 14.0.2+12-46)
Java HotSpot(TM) 64-Bit Server VM (build 14.0.2+12-46, mixed mode, sharing)
tabula-py version: 2.1.1
platform: Darwin-19.6.0-x86_64-i386-64bit
uname:
    uname_result(system='Darwin', node='Traviss-MacBook-Pro.local', release='19.6.0', version='Darwin Kernel Version 19.6.0: Thu Jun 18 20:49:00 PDT 2020; root:xnu-6153.141.1~1/RELEASE_X86_64', machine='x86_64', processor='i386')
linux_distribution: ('Darwin', '19.6.0', '')
mac_ver: ('10.15.6', ('', '', ''), 'x86_64')

In [4]:
#pdf_path = "https://github.com/chezou/tabula-py/raw/master/tests/resources/data.pdf"

pdf_path = "/Users/travishartman/Desktop/wiki/pdf/pdf_to_table/pdfs/tef.pdf"

dfs = tabula.read_pdf(pdf_path, pages="all", stream=False)
# read_pdf returns list of DataFrames
print(len(dfs))

for df in dfs:
    display(HTML(df.to_html()))

3

In [9]:
#Write them all out to separate csv files
count = 0
for df in dfs:
    t= 't'+ str(count) + ".csv"
    df.to_csv(t)
    count +=1

In [10]:
# Example at url below:
# https://xlsxwriter.readthedocs.io/example_pandas_multiple.html
!pwd

/Users/travishartman/Desktop/wiki/pdf/pdf_to_table/tabula

In [14]:
writer = pd.ExcelWriter('big_tester.xlsx', engine='xlsxwriter')

i = 1
for df in dfs:
    sn = 'sheet' + str(i)
    df.to_excel(writer, sheet_name=sn)
    i+= 1
writer.save()